/* Portfolio.css */
.portfolio {
    width: 100%;
    max-width: 1200px;
    margin: 0 auto;
    padding: 40px;
    font-family: 'Arial', sans-serif;
  }
  
  .portfolio-containerr {
    text-align: center;
    margin-bottom: 40px;
  }
  
  .portfolio-container h1 {
    font-size: 48px;
    font-weight: bold;
  }
  
  .portfolio-container p {
    font-size: 18px;
    color: #666;
  }
  
  .pop-toggle {
    display: flex;
    justify-content: center;
    align-items: center;
    margin-bottom: 30px;
  }
  
  .pop-toggle label {
    display: flex;
    align-items: center;
    font-size: 18px;
    margin-right: 10px;
  }
  
  .slider {
    width: 100px;
    height: 8px;
    background: #ccc;
    border-radius: 10px;
    position: relative;
  }
  
  .track {
    position: absolute;
    width: 100%;
    height: 100%;
    background-color: #ccc;
    border-radius: 4px;
  }
  
  .thumb {
    width: 20px;
    height: 20px;
    background: #888;
    border-radius: 50%;
    position: absolute;
    top: -6px;
    left: 0;
    transition: left 0.3s;
  }
  
  .thumb.active {
    left: 90px;
    background: #000000;
  }
  
  .case-studies {
    display: flex;
    justify-content: space-between;
    margin-bottom: 40px;
  }
  
  .more-studies {
    display: flex;
    justify-content: space-between;
  }
  
  .card {
    width: 30%;
    background: white;
    border-radius: 10px;
    box-shadow: 0 4px 8px rgba(0, 0, 0, 0.1);
    overflow: hidden;
    transition: transform 0.3s, box-shadow 0.3s;
  }
  
  .card img {
    width: 100%;
    height: 150px;
    object-fit: cover;
  }
  
  .card-content {
    padding: 20px;
  }
  
  .card h3 {
    font-size: 20px;
    margin: 0;
  }
  
  .card p {
    font-size: 14px;
    color: #777;
  }
  
  .card.pop {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  
  .card:hover {
    transform: scale(1.05);
    box-shadow: 0 8px 16px rgba(0, 0, 0, 0.2);
  }
  