/* Page Container */
.aboutPage {
  font-family: 'Proxima', sans-serif;
  background-color: #eeeeee;
  height: 100vh;
  filter: drop-shadow(-1px 7px 9px #232323c3);
  padding: 20px;

}

/* Title */
.title {
  font-size: 60px;
  font-weight: bold;
  text-align: left; /* Aligner à gauche */
  margin-left: 90px;
  margin-bottom: 40px;
  opacity: 0; /* Cacher au début pour l'animation */
  animation: slideInLeft 1s forwards, fadeIn 1s forwards; 
  animation-delay: 0.2s; 
}

/* Container */
.aboutContainer {
  display: flex;
  flex-direction: column;
  align-items: center;
  height: 80vh;
}

/* Content Layout */
.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}

/* Part Designer */
.part {
  width: 20%;
  opacity: 0;
  animation: fadeIn 1s forwards;
}

.partDesigner {
  animation: slideInLeft 1s forwards, fadeIn 1s forwards;
}

.partCoder {
  animation: slideInRight 1s forwards, fadeIn 1s forwards;
}

.part h2 {
  font-size: 24px;
  margin-bottom: 20px;
}

.part ul {
  list-style: none;
  padding: 0;
}

.part ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
