/* Container */
.aboutContainer {
  display: flex;
  justify-content: center;
  align-items: center;
  height: 80vh;
  font-family: 'Arial', sans-serif;
  background-color: #e6e6e6;
}

/* Content Layout */
.aboutContent {
  display: flex;
  justify-content: space-between;
  align-items: center;
  width: 70%;
}



/* Part Designer */
.part {
  width: 20%;
  opacity: 0;
  animation: fadeIn 1s forwards; /* Apply fade-in by default */
}

.part-designer {
  animation: slideInLeft 1s forwards, fadeIn 1s forwards;
}

.part-coder {
  animation: slideInRight 1s forwards, fadeIn 1s forwards;
}

.part h2 {
  font-size: 24px;
  margin-bottom: 20px;
  font-style: normal;
}

.part ul {
  list-style: none;
  padding: 0;
}

.part ul li {
  margin-bottom: 10px;
  font-size: 18px;
}

/* Animations */
@keyframes fadeIn {
  to {
    opacity: 1;
  }
}

@keyframes slideInLeft {
  from {
    transform: translateX(-100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}

@keyframes slideInRight {
  from {
    transform: translateX(100%);
    opacity: 0;
  }
  to {
    transform: translateX(0);
    opacity: 1;
  }
}
