.pie-chart {
    position: relative;
    width: 350px;
    height: 350px;
    border-radius: 50%;
    background-image: conic-gradient(
      lightgray 0% 66%, 
      #333333 66% 100%
    );
    display: flex;
    align-items: center;
    justify-content: center;
    font-family: Arial, sans-serif;
    filter: drop-shadow(11px 9px 19px #2020208a);
  }
  
  .slice {
    position: absolute;
    width: 35%;
    height: 100%;
    top: 0;
    overflow: hidden;
  }
  
  .design {
    left: 0;
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: flex-end;
    color: white;
  }
  
  .code {
    right: 0;
    transform: rotate(0deg);
    display: flex;
    align-items: center;
    justify-content: flex-start;
    color: rgb(0, 0, 0);
  }
  
  .slice span {
    position: absolute;
    transform: rotate(0deg); 
    
    font-weight: bold;
  }
  